<!--Main Slider-->
<section class="main-slider" data-start-height="800" data-slide-overlay="yes">
    	
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/slider/IMG-20230829-WA0068.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                <img src="/images/slider/IMG-20230829-WA0068.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                
                <div class="overlay-slide"></div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-180"
                data-speed="1500"
                data-start="0"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/images/main-slider/content-image-1.png" alt=""></figure> </div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-70"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="styled-text">welcome to St Lilyanna</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="25"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="border-heading">Your Childrens Are Safe With us</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="115"
                data-speed="1500"
                data-start="1500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="text">See Our Kindergarten Special Features!</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="175"
                data-speed="1500"
                data-start="2000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Let’s Go</a></div>
                
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/slider/IMG-20230829-WA0044.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                <img src="/images/slider/IMG-20230829-WA0044.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                
                <div class="overlay-slide"></div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-180"
                data-speed="1500"
                data-start="0"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/images/main-slider/content-image-1.png" alt=""></figure> </div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-70"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="styled-text">We Are Christian lead</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="25"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="border-heading">We observe High Moral Values </div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="115"
                data-speed="1500"
                data-start="1500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="text">our code of ethics defines us</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="175"
                data-speed="1500"
                data-start="2000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Learn More</a></div>
                
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/slider/IMG-20230829-WA0112.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                <img src="/images/slider/IMG-20230829-WA0112.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                
                <div class="overlay-slide"></div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-180"
                data-speed="1500"
                data-start="0"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/images/main-slider/content-image-1.png" alt=""></figure> </div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-70"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="styled-text">Playing is important to a childs growth</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="25"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="border-heading">We create fun for our kids</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="115"
                data-speed="1500"
                data-start="1500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="text">Play builds creative side of the kid</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="175"
                data-speed="1500"
                data-start="2000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Let’s Go</a></div>
                
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/slider/IMG-20230829-WA0078.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                <img src="/images/slider/IMG-20230829-WA0078.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                
                <div class="overlay-slide"></div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-180"
                data-speed="1500"
                data-start="0"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/images/main-slider/content-image-1.png" alt=""></figure> </div>
                
                <div class="tp-caption sft sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-70"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="styled-text">loyalty building and patriotism</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="25"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="border-heading">Humility is cultivivated</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="115"
                data-speed="1500"
                data-start="1500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div class="text">We have various activies meant to teach humility</div></div>
                
                <div class="tp-caption sfb sfb tp-resizeme"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="175"
                data-speed="1500"
                data-start="2000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Let’s Go</a></div>
                
                </li>
                
                <!-- <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/slider/IMG-20230829-WA0078.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                <img src="/images/slider/IMG-20230829-WA0078.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                
                <div class="tp-caption sfl sfb tp-resizeme"
                data-x="left" data-hoffset="450"
                data-y="center" data-voffset="-140"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div  class="border-heading">welcome to our driving school</div></div>
                
                <div class="tp-caption sfl sfb tp-resizeme"
                data-x="left" data-hoffset="450"
                data-y="center" data-voffset="-40"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><h2  class="styled-text">Play and Learn How to Explore <br> New things</h2></div>
                
                <div class="tp-caption sfl sfb tp-resizeme"
                data-x="left" data-hoffset="450"
                data-y="center" data-voffset="70"
                data-speed="1500"
                data-start="1500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><div  class="styled-text">Programs of Kids Tree Preschool include world-class curriculum and knowledgeable child development <br> that meet the needs child development that meet the needsof children.</div></div>
                
                <div class="tp-caption sfl sfb tp-resizeme"
                data-x="left" data-hoffset="450"
                data-y="center" data-voffset="150"
                data-speed="1500"
                data-start="2000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Let’s Go</a>&ensp; &ensp;<a href="#" class="theme-btn btn-style-two">Read more </a></div>                    
                </li> -->
                
            </ul>
            
        </div>
    </div>
    
</section>
  <!--End Main Slider-->