

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>about us</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->



      <!--Error Section-->
      <section class="error-section">
    	<div class="auto-container">
        	<div class="error-image wow zoomInStable" data-wow-duration="2000ms">
            	<img src="/images/resource/error-img.png" alt="" />
            </div>
            <h2>Oops! Page Not Found</h2>
            <div class="text">Page you were looking for could not be found. </div>
            <a class="theme-btn btn-style-one" href="/"> Back to Home</a>
        </div>
    </section>
    <!--End Error Section-->

    


    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>