

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>about us</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    

     <!--Welcome Section-->
     <section class="welcome-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div>
            	<h2>Welcome to Saratov</h2>
                <div class="title">About Our Kindergarden</div>
                <div class="dark-text">New World, New Education It's Small World And Grow.</div>
                <div class="text">Integer posuere erat a ante venenatis dapibus posuere velit alique llam id dolor id nibh ultricies vehicula ut id eli onec id elit non mi porta gravida at eget metus mollis, est non commodo luctus, nisi erat porttitor ligula eget lacinia odio sem nec ean eu leo qua lentesque ornare sem lacinia quam vene natis vestique penatibus et magnlla mcorper nulla non metus auctor etus a nisi volutpat conval hac habitasse plaes.</div>
                <a href="#" class="theme-btn btn-style-one">Read More</a>
            </div>
            <!--Image-->
            <figure class="image">
            	<img src="/images/resource/welcome-img.png" alt="" />
            </figure>
        </div>
    </section>
    <!--End Welcome Section-->

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>