

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>about us</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    

     <!--Welcome Section-->
     <section class="welcome-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div>

            	<h2>Welcome to St. Lilyanna School</h2>
                <div class="title">About Our school</div>
                <div class="dark-text">Motto: "Striving for Excellence".</div>

                <div class="text">St Lilyanna was founded in the year 2004 and has enjoyed a long history of academic excellence. The School admits children from the age of 3 yrs onwards. St. Lilyanna comprises of Early Learning Center (Playgroup, Pre-Primary 1 & 2) and mixed Junior School from grade 1 to grade 9 with separate campuses. There are optional boarding facilities from grade 1 to grade 9. From a humble start with just a few children in early learning center the school now enjoys.
                </div>
                <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
            </div>
            <!--Image-->
            <figure class="image">
            	<img src="/images/fwd/IMG-20230829-WA0062.jpg" alt="" />
            </figure>
        </div>
    </section>
    <!--End Welcome Section-->

     <!--more info Section-->
     <section class="more-info-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<!-- <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div> -->
            	<h3>ADMISSION</h3>
                <!-- <div class="title">About Our Kindergarden</div>
                <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
                <div class="text">We admit new Pupils in every class except examination classes i.e. Candidate class. Every new Pupil is expected to sit for a written interview test except for beginners in Playgroup and Pre-Primary 1

                </div>
                <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
            </div>
        </div>
    </section>
    <!--End more info Section-->

     <!--more info Section-->
     <section class="more-info-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<!-- <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div> -->
            	<h3>THE CURRICULUM
                </h3>
                <!-- <div class="title">About Our Kindergarden</div>
                <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
                <div class="text">The School uses the Kenya National Curriculums. That is both 8-4-4 and CBC (Competency Based Curriculum). It takes a unique approach to teaching and learning. Classes are hands-on, interactive and Student Centered, which means that the teacher guides the student to discover solutions themselves, rather than simply telling a student how to solve the challenge. Every student is given a specialized Individual attention to ensure that individual talents and abilities are uncovered and appreciated for a strong Child.

                </div>
                <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
            </div>
        </div>
    </section>
    <!--End more info Section-->
     <!--more info Section-->
     <section class="more-info-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<!-- <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div> -->
            	<h3>ACADEMIC EXCELLENCE
                </h3>
                <!-- <div class="title">About Our Kindergarden</div>
                <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
                <div class="text">Our School Motto is “Striving for Excellence” and true to this, Our 8-4-4 Pupils have strived and earned good positions in Top Candidates in Kenya and the School earning one of the best ranked schools in Kenya. We attained a mean score of 386 in 2022 KCPE. Our Motto has been a good guide to excellence.
                </div>
                <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
            </div>
        </div>
    </section>
    <!--End more info Section-->

     <!--more info Section-->
     <section class="more-info-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<!-- <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div> -->
            	<h3>ADMISSIONS AND INTAKES</h3>
                <!-- <div class="title">About Our Kindergarden</div>
                <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
                <div class="text">Should you wish to enroll your Child into our School in any Level from Pre-School to our Junior Secondary School, you would be required to follow our admission Process.
                </div>
                <a href="/admissions" class="theme-btn btn-style-one">Read More</a>
            </div>
        </div>
    </section>
    <!--End more info Section-->

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>