


<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Frequent questions</h1>
                </h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li> FAQs </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->



      <!--Error Section-->
      <section class="error-section">
    	<div class="auto-container">
        	
            <!-- extra curricular content -->
           
            <ul class="accordion-box">
                <li class="accordian-title">Questions & Answers</li>
                <!--Block-->
                <li class="accordion block active-block">
                    <div class="acc-btn active"><div class="icon-outer"><span class="icon fa fa-arrow-circle-right"></span> </div>Question 1</div>
                    <div class="acc-content current">
                        <div class="content"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.available, but the majority have suffered alteration in some form,have suffered alteration in some form, by injected....</p></div>
                    </div>
                </li>
                
                <!--Block-->
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-arrow-circle-right"></span> </div>Question 2</div>
                    <div class="acc-content">
                        <div class="content"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.available, but the majority have suffered alteration in some form,have suffered alteration in some form, by injected....</p></div>
                    </div>
                </li>
                
                <!--Block-->
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-arrow-circle-right"></span> </div>
                Question 3</div>
                    <div class="acc-content">
                        <div class="content"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.available, but the majority have suffered alteration in some form,have suffered alteration in some form, by injected....</p></div>
                    </div>
                </li>

            </ul>
            
            
        </div>
    </section>
    <!--End Error Section-->

    


    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>