

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Post</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>Blog post</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                	<!--Blog-->
                    <section class="blog-single">
						
                        <!--News Style Four-->
                        <div class="news-style-four">
                            <div class="inner-box">
                            	<!--Image Column-->
                                <div class="image">
                                    <img src="/images/resource/news-11.jpg" alt="" />
                                </div>
                                <!--Content Column-->
                                <div class="content-column">
                                    <div class="inner">
                                        <div class="post-date">April 08,2017</div>
                                        <h3>Activities Using the  Five Senses With clear example</h3>
                                        <ul class="post-meta">
                                        	<li>by <span>Adam rose</span></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 7 Comments</a></li>	
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span>18 Views</a></li>
                                        </ul>
                                        <div class="text">
                                        	<p>Your child is growing up fast and ready for a little more independence, our pre school club will be a perfect introduction.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Utsi enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utersre aliquip exoesa rave commodo consequat. ise porttitor libervel the nunc dictum sceler isque Integer ac vulputate tellus. Aenean magna quam, elementum sit amet tristique eu, pretium a ex. Proin porta placerat odio, at viverra mauris maximus finibus. Donec pulvinar, mauris quis interdum tempor, nibh neque consectetur felis, et porttitor mi ex eu mauris. </p>
                                            <div class="bold-text">Aliquam lacinia orci urna, consequat luctus quam efficitur eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam cursus nibh vitae lacus luctus,</div>
                                            <blockquote>Your child is growing up fast and ready for a little more independence, our pre school club will be a perfect introduction.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua.</blockquote>
                                            <p>Proin porta placerat odio, at viverra mauris maximus finibus. Donec pulvinar, mauris quis interdum tempor, nibh neque consectetur felis, et porttitor mi ex eu mauris. </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </section>
                    
                </div>
                
                <!--Sidebar-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
						
                        <!--Services Category Widget-->
                        <div class="sidebar-widget category-widget">
                        	<div class="sidebar-title">
                            	<h3>Categories</h3>
                            </div>
                            <ul>
                                <li><a href="#">Child Care <span>(15)</span></a></li>
                                <li><a href="#">Education <span>(20)</span></a></li>
                                <li><a href="#">Sports <span>(10)</span></a></li>
                                <li><a href="#">Development <span>(30)</span></a></li>
                            </ul>
                        </div>
                        
                      
                        
                      
                    
                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>

    

  

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>